<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">  
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="style/css.css" media="screen" />
  <title>Kalendarz sesyjny</title>
  <meta name="description" content="" /> 
  </head>
<body>
<div class="external">
  <div id="logo">
    <ul id="kontakt">
    </ul>
  </div>

  <div id="main">
    <div class="sidebar">
      <h2 id = "home">Kalendarz</h2><br><h2 id = "home">sesyjny</h2>
     <ul></ul>
      
     
    </div>
    
    <div class="content">
       <div class="entry">
        <h4 id = "home">
			
			
<a id = "home" href="/auth/facebook">Zaloguj przez FB</a>
<br>
<a id="home" href="/auth/github">Zaloguj przez Github</a>

			
			
			
		</h4>
        
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id = "home" id="footer">
          <p id="home">Copyright &copy; 2012; Projekt: B.Misiuta, K.Osińska, M.Lewandowska, T.Sott </p>
  </div>
</div>
<div class="clear"></div>
</body>
</html>
