<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Kalendarz sesyjny</title>
<link rel="stylesheet" href="index.css" />
</head>
<h1>Kalendarz sesyjny</h1>
<div class="start">
<a class="start" href="/auth/facebook">Zaloguj przez FB</a>
<br>
<a class="start" href="/auth/github">Zaloguj przez Github</a>
</div>
</body>
</html>

